@tailwind base;
@tailwind components;
@tailwind utilities;

/* ToDo: Arrumar o bug do celular */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #1a202c;
}

main {
  width: 100%;
  min-height: 100vh;
}

.transparent:hover {
  background-color: transparent !important;
}

.transparent {
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar {
  background-color: #1d1d1d;
  width: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #5b5b5b;
  border-radius: 5px;
}

button:disabled {
  opacity: 1;
}

.opacity-disabled {
  opacity: 1;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
